#colors-con {
	width:100%;
	height:500px;
}
.memorize-status-bar {
	width:100%;
	height:45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 15px;
	padding: 5px 8px;
	display:none;
}
.memorize-status-bar .title-wrapper {
	width:150px;
	height:100%;
	background-color: rgba(65,65,65,0.6);
	display: flex;
	align-items: center;
	justify-content:center;
	border-radius: 5px;

}
.memorize-status-bar .title-wrapper p {
	color:rgba(255,255,254,0.98);
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.memorize-status-bar button {
	border:none;
	outline: none;
	width:150px;
	height:100%;
	background-color: rgba(13,109, 253,1);
	border-radius: 5px;
	color:rgba(255,255,254,0.98);
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.coord-wrapper {
	width:100%;
	height:55px;
	color:rgba(255,255,254,1);
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 8px;
	margin-bottom: 10px;
}

.memorize-coord {
	width: 100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	background-color: rgba(35,35,35,0.6);
	margin-top: 6px;
	border-radius: 5px;
}

.memorize-options-wrapper {
	width:100%;
	height: 70px;
	display:flex;
	align-items: center;
	justify-content: space-around;
}
.memorize-options-wrapper button {
	width:40%;
	height:80%;
	outline: none;
	border:none;
	color:transparent;
	font-size: 1.3em;
	border-radius: 5px;
}
.memorize-options-wrapper button:focus {
	opacity: 0.9;
	outline: 2px solid gray;
	outline-offset: 4px;
}

#colors-con h3 {
	color:rgba(255,255,254,0.98);
	margin-left: 8px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.mem-menu-wrapper {
	width:100%;
	height:auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top:50px;
	padding: 20px;
}
.mem-menu-wrapper div {
	width:170px;
	height:170px;
	background-color: rgba(25,25,25,0.8);
	margin-top: 10px;
	border-radius: 8px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.mem-menu-wrapper div img {
	margin-top: 8px;
	width:60%;
	height:auto;
	pointer-events: none;
}
.mem-menu-wrapper p {
	color:rgba(255,255,254,0.8);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	pointer-events: none;
}
#colors-con {
	display:none;
	flex-direction: column;
}
#memorize-con {
	display:none
}
.memorize-con {
	display:none;
}

#replication-con {
	height:80%;
}
.board-pieces-wrapper {
	display:flex;
	flex-direction: column;
}
.pieces {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	height:95px;
	margin-top: 15px;
}
.presentation  {
	height:300px;
	padding: 18px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.presentation p {
	color:rgba(255,255,254,0.98);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	margin-bottom: 60px;
	margin-top:20px;
}
.presentation button {
	width:130px;
	height:35px;
	background-color: rgba(13,109,253,1);;
	font-size: 1.1em;
	color:white;
	font-weight: bold;
	border:none;
	outline: none;
	border-radius: 6px;
}
.pieces div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.draggable {
	width:45px;
	height: 45px;
	outline:none;
	border:none;
	background: transparent;

}

.chessboard-wrapper {
	height:370px;
	width:370px;
	display:grid;
	grid-template-columns: repeat(8, auto);
}
img.dragging {
	z-index: 20;
	max-width: 40px;
	max-height: 40px;
}
