<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chess</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/blind.css">
	<link rel="stylesheet" href="/static/memorization.css">
	<link rel="stylesheet" href="/static/analisis.css">
	<script type="module" src="static/js/dist/esm/chess.js"></script>  
	<script src="static/DragDropTouch.js"></script>
</head>
<body>
	<header>
	<div class="toggle-wrapper">
		<div class="ham-wrapper">
		<div class="hamb"></div>
		</div>
	</div>
	</header>
		<div class="menu">
			<div class="logo">
				<img src="/static/favicon.ico" alt=""/>
			<h3>Chess</h3>
			</div>
			<nav>
			<ul>
			<li><a href="/" draggable="false">Home</a></li>	
			<li><a href="/"  draggable="false">Play</a></li>	
			<li><a href=""  draggable="false">Puzzles</a></li>	
			<li><a href=""  draggable="false">Endgame</a></li>	
			<li><a href="" draggable="false">Openings</a></li>	
			<li><a href="/analisis" draggable="false">Analisis</a></li>	
			<li><a href="/games"  draggable="false">Games</a></li>	
			<li><a href="/coordinates"  draggable="false">Coordinates</a></li>	
			<li><a href="/blind-chess"  draggable="false">Blind Chess</a></li>	
			<li><a href="/board-memorization"  draggable="false">Board Memorization</a></li>	
			</ul>
			</nav>
		</div>
		{% block content %}
		{% endblock %}
		<script src="/static/menu.js"></script>
</body>
</html>

