			<option value="stockfish">Stockfish</option>
			<option value="pleco">pleco</option>
			<option value="lozza">lozza</option>
			<option value="frozenight">frozenight</option>
			<option value="mess">mess</option>
			<option value="rustic">rustic</option>

			<option value="trinket">trinket</option>
			<option value="velvet">velvet</option>
			<option value="carp">carp</option>
			<option value="blunder">blunder</option>
			<option value="weasel">weasel</option>
			<option value="swindle">swindle</option>
			<option value="camel">camel</option>
			<option value="kelp">kelp</option>
			<option value="counter">counter</option>
			<option value="flounder">flounder</option>
			<option value="ruci">ruci</option>
			<option value="lichess">Lichess</option>

