{% extends "base.html" %}
{% block content %}
<h5>hello</h5>
<dialog class="dlg">
			<form method="dialog">
			<div class="white-prom">
		{% for sq in proms.w %}
		<button style="background-image: url('{{ sq }}')"> </button>
		{% endfor %}
			</div>
			<div class="black-prom">	
		{% for sq in proms.b %}
		<button  style="background-image: url('{{ sq }}')"></button>
		{% endfor %}
			</div>
			</form>

		</dialog>

		<dialog class="fen-dlg">
			<form method="dialog">
			<div class="import-fen-con">
				<label>Fen string</label>
				<input type="text"  id="fen-entry"><br>
				<button id="fen-dlg-btn"> Load Position</button>
				
			</div>
			</form>
		</dialog>

		<!--dialog for importing pgn -->
		<dialog>
			<form action="">
				
			<div class="import-pgn-con">
				
			</div>
			</form>
		</dialog>
	<!--dialog for new game-->
		<dialog class="newgame-dlg" style="background: transparent;border:none; width:320px">
			<form method="dialog">
				{% include 'game.html' %}

			</form>
		</dialog>
		<dialog class="export-dlg" style="background: transparent;border:none;outline: none;">
			<form method="dialog" style="background: transparent;">
				{% include 'export.html' %}	
			</form>
			
		</dialog >
		<!--dialog for options-->
		<dialog class="options" style="background: transparent;border:none;outline: none;">
			<form method="dialog" style="background: transparent;">
				{% include 'options.html' %}
			</form>
		</dialog>


		<div class="pgn-container">
			<div class="pgn"></div>

		</div>
		<div class="profile" id="black">
			<div>
			<img src="/static/svg/64/bishop_black.png" alt=""/>
			<h3></h3>
			</div>
			<span id="time"></span>
		</div>

		<div class="container">
			{% for x in sqs %}
			
			<button class="sq {{ x[0] }}" id="{{ x[1] }}" style="background-image:url('{{ x[2] }}');background-position:center;background-repeat:no-repeat;"></button>
			{% endfor %}
		</div>
		<div class="profile" id="white">
			<div>
			<img src="/static/svg/64/bishop_black.png" alt=""/>
			<h3></h3>
			</div>
			<span id="time"></span>
		</div>
		</div>
		<div class="row-cmd">
			<button class="turn-board"></button>
			<button class="full-back"></button>
			<button class="back-btn"></button>
			<button class="forwd-btn"></button>
			<button class="full-forwd"></button>

		</div>
		<div class="row-cmd">
			<button class="options"></button>
			<button class="export"></button>
			<button class="help"></button>
			<button class="import"></button>
		</div>
		<div>
			<span class="info"></span>
		</div>
		<div class="test">
			<div><label for="pgn">pgn</label><input type="text" name="pgn" id="pgn"></div>
			<div><label for="fen">fen</label><input type="text" name="fen" id="fen"></div>
		</div>
		<script type="module" src="/static/index.js" charset="utf-8"></script>

{% endblock %}
