	<div class="mem-menu-wrapper">
		<div>
			<img src="/static/colors.png" alt=""/>
			<p>Colors</p>
		</div>
		<div>
			<img src="/static/bishop.png" alt=""/>
			<p>Bishop</p>
		</div>
		<div>
			<img src="/static/gnome-glchess-chess-knight-icon.png" alt=""/>
			<p>Knight</p>
		</div>
		<div>
			<img src="/static/svg/2048/queen_white.png" alt=""/>
			<p>Colliding</p>
		</div>
		<div>
			<img src="/static/board.png" alt=""/>
			<p>Memorize</p>
		</div>
		<div>
			<img src="/static/pieceless.png" alt=""/>
			<p>Pieceless Tactics</p>
		</div>
		<div>
			<img src="/static/blind.png" alt=""/>
			<p>Blind Tactics</p>
		</div>
		<div>
			<img src="/static/audio.png" alt=""/>
			<p>Audio Training</p>
		</div>
	</div>
