<div class="mem-menu-wrapper">
		<div class="menu-opt colors-con">
			<img src="/static/colors.png" alt=""/>
			<p>Colors</p>
		</div>
		<div class="menu-opt bishop-con">
			<img src="/static/bishop.png" alt=""/>
			<p>Bishop</p>
		</div>
		<div class="menu-opt knight-con">
			<img src="/static/gnome-glchess-chess-knight-icon.png" alt=""/>
			<p>Knight</p>
		</div>
		<div class="menu-opt">
			<img src="/static/svg/2048/queen_white.png" alt=""/>
			<p>Colliding</p>
		</div>
		<div class="menu-opt memorize-con">
			<img src="/static/board.png" alt=""/>
			<p>Memorize</p>
		</div>
		<div  class="menu-opt pieceless-con">
			<img src="/static/pieceless.png" alt=""/>
			<p>Pieceless Tactics</p>
		</div>
		<div  class="menu-opt blind-tactics-con">
			<img src="/static/blind.png" alt=""/>
			<p>Blind Tactics</p>
		</div>
		<div class="menu-opt audio-con">
			<img src="/static/audio.png" alt=""/>
			<p>Audio Training</p>
		</div>
		<div class="menu-opt replication-con">
			<img src="/static/board.png" alt=""/>
			<p>Board replication</p>
		</div>
		<div class="menu-opt recognition-con">
			<img src="/static/board.png" alt=""/>
			<p>Board recognition</p>
		</div>
</div>
