<div class="options-wrapper" style="display:flex;flex-direction: column;width:250px;background-color: rgb(55,55,55);border-radius: 12px;;">
	<h3 style="padding-left: 4px;text-align: left;color:#47a1d7;">Options</h3>
	<button id="resign" style="border-top: 2px solid #47a1d7;" >Resign</button>
	<button id="takeback">Take back</button>
	<button id="">Change Engine</button>
	<button id="new">New game</button>
	<button id="play">Continue</button>
	<div style="display:flex;align-items: center;justify-content: center;"><button style="width:50%;background-color: #47a1d7;text-align: center;padding-top: 4px;padding-bottom: 4px;margin-top: 8px;margin-bottom: 8px;">Cancel</button></div>
</div>
