{% extends "base.html" %}      
{% block content %}
<div class="base-memorize-pgn">
	<div class="load-screen pgn-mem-con">
		<h3>Pgn</h3>
		<textarea name="pgn-memorize" id="pgn-memorize"></textarea>
		<button>Load</button>
	</div>
	<div class="menu-pgn-memorize pgn-mem-con">
		<button>Random</button>
		<button>Options</button>
		<button>Drag</button>
		<button>Back</button>
	</div>
	<div class="random-con-pgn pgn-mem-con">
		<div>
			
		</div>
	</div>
	<div class="options-con-pgn pgn-mem-con">
		
	</div>
	<div class="drag-con-pgn pgn-mem-con">
		
	</div>
</div>
{% endblock %}
